.offer-details {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer e Edge */
}

.offer-details::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.offer-details-placeholder {
  background-color: white;
  border-radius: 10px;
  padding: 50px 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-style: italic;
}

.offer-details-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.offer-logo {
  width: 120px;
  height: 120px;
  background: #2ecc71;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-logo img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.offer-details-title {
  flex: 1;
  flex-direction: columns;
}

.offer-details-title h2 {
  margin: 0 0 5px 0;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.company-link {
  display: flex;
  flex-direction: column;
}

.company-name {
  color: #555;
  text-decoration: none;
  font-size: 16px;
}

.company-name:hover {
  text-decoration: underline;
}

.company-url {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.company-url img {
  width: 16px;
  height: 16px;
}

.favorite-button {
  background: transparent;
  border: none;
  color: #ccc;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

.star-icon {
  transition: color 0.2s ease;
}

.favorite-button:hover .star-icon {
  color: #ffd700;
}

.favorite-button.is-favorite .star-icon {
  color: #ffd700;
}

.offer-info {
  margin-top: 20px;
}

.info-row {
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
}
.info-row-last {
  display: flex;
  font-size: 14px;
  line-height: 1.5;
}

.info-label {
  font-weight: 500;
  color: #555;
  width: 100px;
}

.info-value {
  color: #333;
}

.info-value.highlight {
  color: #2ecc71;
  font-weight: 500;
}

.offer-details-section {
  margin-top: 25px;
}

.offer-details-section h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.offer-details-section p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}
.offer-actions {
  display: flex;
  justify-content: end;
  margin-left: auto;
  margin-top: auto;
}

.requirements-list,
.skills-list {
  padding: 0 0 0 20px;
  margin: 10px 0;
}

.requirements-list li,
.skills-list li {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.divider {
  width: 90%;
  height: 1px;
  background: #555;
}

.header-detail {
  display: flex;
  flex-direction: row;
}

.apply-button {
  background-color: #000076;
  color: rgb(255, 255, 255);
  border: none;
  height: 50px;
  border-radius: 12px;
  border: 2px solid #626262;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 150px;
  max-width: 200px;
  margin-left: auto;
}
.apply-button:hover {
  background-color: #4845c4;
  scale: 1.03;
}
